* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    scroll-behavior: smooth;
    }

#container
{
    height: 3000px;
    width: auto;
    background-color: rgb(3, 7, 36);
    color: rgb(190, 215, 236);
    font-size: 30px;
    
}
#content 
{
    height: 2800px;
    text-align: center;
    padding-top: 60px;
   
}
#content li 
{
    font-size: 20px;
}
#stopka
{
  font-size: 10px;
  background-color: black;
  height: 200px;
  width: auto;
}
#toTopButton
{
    background-color: rgb(28, 31, 82);
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: auto;
    top: -40px;
    border-radius: 100%;
    opacity: 0.6;
    font-size: 50px;
    font-weight: 900;
    color: rgb(253, 253, 253);
}
#toTopButton:hover
{
    opacity: 1;
}
#tekst
{
    color: rgb(231, 236, 240);
    cursor: pointer;
}