* {
  margin: 0;
  padding: 0;
}
/*
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive; */

.container {
  text-align: center;
}

.title h1 {
  font-size: 5em;
  font-family: 'Cinzel Decorative', cursive;
  margin: 1em 0em .3em 0em;
  /* border-bottom: 3px solid black; */
}

.description {
  font-family: 'Cinzel', serif;
  margin: 0em 2em 3em 2em;
  color: rgb(182, 182, 182);
}

form {
  font-family: 'Cinzel Decorative', cursive;
  color: rgb(250, 164, 178);
}

input[type=submit] {
  font-family: 'Cinzel', serif;
  font-size: 1.1em;
  background-color: pink;
  margin: 3em 0em .3em 0em;
  width: 40%;
  height: 3em;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 10px;
}