*
{
    padding: 0;
    margin: 0;
}
#logo
{
    background-color: rgb(9, 48, 2);
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    border-bottom: 5px solid whitesmoke; 
    padding: 10px;
}
.TopMenu ul 
{
    display: flex; /*aby użyć flexboxa należy do rodzica wszystkich elementów dodać display: flex*/
    background-color: rgb(17, 94, 1);
    /*justify-content: space-around;*/
    list-style: none;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (max-width: 700px)
{
    .TopMenu ul 
    {
        flex-direction: column;
        text-align: center;
    }
    article
    {
        padding: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.TopMenu li
{
    flex: 1;
}
.TopMenu a 
{
    display: block;
    
    padding: 30px;
    color: whitesmoke;
    text-decoration: none;  
}
.TopMenu a:hover
{
    background-color: rgb(9, 48, 2);
    border-radius: 50px;
}
article
{
    padding: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
article h2
{
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    
}
